{% extends "base.html" %} {% block title %}Test{% endblock %} {% block content %}

{% block header %}

Usuario: {{ usuario.name }}
</br>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ '%0.2f'|format(((areas.id-1) / max_area.id) * 100|float) }}%" aria-valuenow="{{ '%0.2f'|format(((areas.id-1) / max_area.id) * 100|float) }}" aria-valuemin="0" aria-valuemax="100">{{ '%0.2f'|format(((areas.id-1) / max_area.id) * 100|float) }}% Completado</div>
</div>
</br>
</br>
Preguntas de Area: {{ areas.nombre_area }}

{% endblock %} 


</br>
<div>
    <form method="POST">
        {% for pregunta in preguntas %}
            {% if pregunta.area == areas.id %}
                <div class="card card-body">
                    <div class="card-title" style="float: left;">{{ pregunta.pregunta_descripcion }}</br>
                        <div class="form-check form-switch" style="float: right;">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">
                            <label class="form-check-label" for="flexSwitchCheckChecked">No Aplica</label>
                        </div>
                    
                    </div>
                    {% for opcion in opciones %}
                        {% if pregunta.id == opcion.pregunta %}
                            
                            {% if pregunta.tipo == 1 %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ opcion.id }}" name="respuesta" id="respuesta">
                                    <label class="form-check-label" for="respuesta">
                                        {{ opcion.opcion }}</br>
                                    </label>
                                </div>
                            {% else %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="{{ opcion.id }}" name="respuesta" id="respuesta" required>
                                    <label class="form-check-label" for="respuesta">
                                        {{ opcion.opcion }}</br>
                                    </label>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                </br>
            {% endif %}
        {% endfor %}

        {% if areas.id < max_area.id %}
            <div class="btn-group" role="group" aria-label="Continuar">
                <button type="submit" class="btn btn-primary">Continuar</button>
            </div>
        {% else%}
            <div class="btn-group" role="group" aria-label="Finalizar Test">
                <button type="submit" class="btn btn-primary">Finalizar Test</button>
            </div>
        {% endif %}
    </form>
</div>




{% endblock %} 